.review {
  max-width: 500px;
  margin: auto;
  padding: 32px 24px;

  &Title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 22px;
  }

  &Form {
    text-align: center;
    @media screen and (max-width: 480px){
      text-align: right;
    }

    &Row {
      display: flex;
      gap: 14px;
      align-items: center;
      flex-wrap: wrap;
      label {
        font-weight: 600;
        margin-right: 23px;
      }
    }
  }
}