* {
  box-sizing: border-box;
}

.App {
  display: flex;
  color: #282828;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-family: 'Assistant', sans-serif;
}
